@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,500&family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/* Layout Styling */

#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  *, *::before, *::after { box-sizing: inherit; }
.tabheader {
    display: inline-flex;
    height: 25px;
    width: 75px;
    border: 2px solid #5ab9ea;
    margin: 1px 10px 1px 1px;
    color: #5ab9ea;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .tabheader {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
  }
  
  .tabheader a {
    position: relative;
    transition: all .45s ease-Out;

  }
  #profile-header {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
    width: 8em;
    text-transform: none;
    
    
  }
  #circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 55%;
    background:#5ab9ea;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
  }
  
  .tabheader:hover #circle {
    width: 250%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
  }
  
  .tabheader:hover a {
    color: #2D3142;
  }

  body {
    width: 300px;
    height: 450px;
    overflow: hidden;
    background:white ;
  }
#profile-name {
  height: 36px;
  width: 286px;
}
::placeholder {
  color: #00AEEF;
  text-align: left;
}
::-moz-focus-inner{
  outline: none;
}

#save-btn:hover{
  letter-spacing:2px;
  box-shadow: 3px 4.9px 16px rgba(27,139,249,0.6);
}
#save-btn{
  margin: 3.5px;
  color: white;
  background-color: #00AEEF;
  text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 30px;
    width: 126px;
    border-radius: 5px;
    border: none;
    border: none;
    outline: none;
    box-shadow: 1px 2.9px 16px rgba(27,139,249,0.4);
    
}
#address-line-1 {
  width: 284px;
}

#address-line-2 {
  width: 191px;
}
#state {
  width: 74px;
}
#country {
  height: 36px;
  width: 139px;
}
#city {
  width: 132px;
}
#card-number {
  width: 219px;
}
#cvv {
  width: 46px
}
#email {
  width: 284px;
}
#phone-number {
  width: 284px;
}
#name-on-card {
  width: 284px;
}
#card-number {
  width: 220px;
}
#profile-load{
  margin: 3.5px;
  height: 30px;
  width: 126px;
}
.profile-btn {
  font-family: 'Open Sans', sans-serif;

  
  margin: 3.5px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right:5px ;
  color: #00AEEF;
  background-color: #BFEAFB;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 35px;
    width: 133px;
    border-radius: 7px;
    border: none;
    outline: none;

}

.profile-btn1 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border: none;
  color: #00AEEF;
  margin: 3.5px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right:4px ;
  background-color: #BFEAFB;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 35px;
    width: 138px;
    border-radius: 5px;
    outline: none;

}



























.home-header {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  border: none;
  margin-left: 4px;
  width: 8em;
  text-transform: none;
  color: #00AEEF;
}


.settings-btn {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right:5px ;
  color: #00AEEF;
  background-color: #BFEAFB;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 35px;
    width: 284px;
    border-radius: 5px;
    border: none;
    outline: none;

}
  
.important-btn {
  margin: 3.5px;
  color: white;
  text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 30px;
    width: 127px;
    border-radius: 5px;
    border: none;
    border: none;
    outline: none;

}

  
.nav-btn {
  margin: 6px;
  color: white;
  text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    border: none;
    border: none;
    outline: none;
    background-color:#a5a4a7;
   box-shadow: 1px 2.9px 16px rgba(249, 27, 38, 0.4);
}


.save-btn {
  background-color: #00AEEF;
  box-shadow: 1px 2.9px 16px rgba(27,139,249,0.4);
  margin-top: 40px;
}

.clear-btn {
  background-color:#FF4C72;
  box-shadow: 1px 2.9px 16px rgba(249, 27, 38, 0.4);
  margin-top: 40px;
}
.load-btn {
  background-color:#b46ff8;
  box-shadow: 1px 2.9px 16px rgba(90, 8, 138, 0.4);
  width: 278px;
}

.home-btn {
  background-color: #00AEEF;
  box-shadow: 1px 2.9px 16px rgba(27,139,249,0.4);
}
.baseOne {
  background-color: #00AEEF;
  box-shadow: 1px 2.9px 16px rgba(27,139,249,0.4);
}

#toggle-btn1 {
  background-color: #BFEAFB;
  color: #00AEEF;
}
#req-toggle-btn1 {
  background-color: #BFEAFB;
  color: #00AEEF;
}
#normal-aco-toggle1 {
  background-color: #BFEAFB;
  color: #00AEEF;
}
#atc-toggle-btn1 {
  background-color: #BFEAFB;
  color: #00AEEF;
}
#sup-autofill-btn1 {
  background-color: #BFEAFB;
  color: #00AEEF;
}
#sup-aco-btn1 {
  background-color: #BFEAFB;
  color: #00AEEF;
}
#sup-atccart-btn1 {
  background-color: #BFEAFB;
  color: #00AEEF;
}












#login-body {
  background-image: "https://cdn.discordapp.com/attachments/785309333784363068/791144632624218162/unknown.png";
}

#sign-in{
  margin: 50px;
}
#auth-btn {
  margin-top: px;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#metalabs-keys {
  
  width: 125%;
  height: 25%;
  overflow: hidden;
  position: relative;
  top: 100;
  color: rgba(white, .5);
  cursor: text;
  transition: .25s ease;
  margin: 5%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px rgba(white, .5);
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, rgba(white, .5) 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: darken(rgba(white, .5), 20%);
}




#authorization-fail {
  background-color:#FF4C72;
  width: 95%;
  height: 40px;
  margin-top: 40px;
  font-size: large;
}


