#shippingBtn,
#cardBtn,
#settingsBtn,
#title {
    color: white;
}

#title {
    text-align: left;
}

#title {
    margin-top: 10px;
}

#settingsBtn,
#startBot,
#shippingBtn,
#cardBtn {
    background-color: #031229;
}

#shippingBtn,
#settingsBtn,
#startBot,
#cardBtn {
    outline: none;
}

#settingsBtn,
#cardBtn,
#shippingBtn {
    padding-left: .625pc;
}

#shippingBtn,
#cardBtn,
#settingsBtn {
    padding-bottom: .625pc;
}

#shippingBtn,
#cardBtn,
#settingsBtn {
    padding-right: .625pc;
}

#cardBtn,
#shippingBtn,
#settingsBtn {
    padding-top: .625pc;
}

#cardBtn,
#shippingBtn,
#startBot,
#settingsBtn {
    cursor: pointer;
}

#settingsBtn,
#shippingBtn,
#cardBtn {
    width: 100%;
}

#shippingBtn {
    border-left-width: medium;
}

#shippingBtn {
    border-bottom-width: medium;
}

#shippingBtn {
    border-right-width: medium;
}

#shippingBtn {
    border-top-width: medium;
}

#shippingBtn {
    border-left-style: none;
}

#shippingBtn {
    border-bottom-style: none;
}

#shippingBtn {
    border-right-style: none;
}

#shippingBtn {
    border-top-style: none;
}

#shippingBtn {
    border-left-color: currentColor;
}

#shippingBtn {
    border-bottom-color: currentColor;
}

#shippingBtn {
    border-right-color: currentColor;
}

#shippingBtn {
    border-top-color: currentColor;
}

#shippingBtn {
    border-image: none;
}

#startBot,
#cardBtn,
#settingsBtn,
#shippingBtn {
    text-align: center;
}

#shippingBtn,
#settingsBtn,
#cardBtn {
    font-size: 1.125pc;
}

#cardBtn {
    border-left-width: medium;
}

#cardBtn {
    border-bottom-width: medium;
}

#cardBtn {
    border-right-width: medium;
}

#cardBtn {
    border-top-width: medium;
}

#cardBtn {
    border-left-style: none;
}

#cardBtn {
    border-bottom-style: none;
}

#cardBtn {
    border-right-style: none;
}

#cardBtn {
    border-top-style: none;
}

#cardBtn {
    border-left-color: currentColor;
}

#cardBtn {
    border-bottom-color: currentColor;
}

#cardBtn {
    border-right-color: currentColor;
}

#cardBtn {
    border-top-color: currentColor;
}

#cardBtn {
    border-image: none;
}

#settingsBtn {
    border-left-width: medium;
}

#settingsBtn {
    border-bottom-width: medium;
}

#settingsBtn {
    border-right-width: medium;
}

#settingsBtn {
    border-top-width: medium;
}

#settingsBtn {
    border-left-style: none;
}

#settingsBtn {
    border-bottom-style: none;
}

#settingsBtn {
    border-right-style: none;
}

#settingsBtn {
    border-top-style: none;
}

#settingsBtn {
    border-left-color: currentColor;
}

#settingsBtn {
    border-bottom-color: currentColor;
}

#settingsBtn {
    border-right-color: currentColor;
}

#settingsBtn {
    border-top-color: currentColor;
}

#settingsBtn {
    border-image: none;
}

#saveBot,
#startBot {
    padding-left: .125pc;
}

#startBot,
#saveBot {
    padding-bottom: .125pc;
}

#startBot,
#saveBot {
    padding-right: .125pc;
}

#startBot,
#saveBot {
    padding-top: .125pc;
}

#startBot,
#saveBot {
    width: 30%;
}

#startBot,
#saveBot {
    color: white;
}

#startBot,
#saveBot {
    font-size: .25in;
}

#saveBot,
#startBot {
    display: inline;
}

* html {
    min-height: 3.125in;
}

#startBot {
    border-left-width: 0pt;
}

#startBot {
    border-bottom-width: 0pt;
}

#startBot {
    border-right-width: 0pt;
}

#startBot {
    border-top-width: 0pt;
}

#startBot {
    border-left-style: none;
}

#startBot {
    border-bottom-style: none;
}

#startBot {
    border-right-style: none;
}

#startBot {
    border-top-style: none;
}

#startBot {
    border-left-color: currentColor;
}

#startBot {
    border-bottom-color: currentColor;
}

#startBot {
    border-right-color: currentColor;
}

#startBot {
    border-top-color: currentColor;
}

#startBot {
    border-image: none;
}

#saveBot,
#startBot {
    margin-left: 0pc;
}

#startBot,
#saveBot {
    margin-bottom: 0pc;
}

#saveBot,
#startBot {
    margin-right: 0pc;
}

#saveBot,
#startBot {
    margin-top: 0pc;
}

#saveBot,
#startBot {
    border-radius: 50px 3.125pc 37.5pt 3.125pc;
}

#tablink:hover,
#saveBot1,
#saveBot,
#stopBot {
    background-color: #031229;
}

#stopBot,
#saveBot {
    outline: none;
}

#saveBot,
#stopBot {
    cursor: pointer;
}

#saveBot,
#stopBot {
    text-align: center;
}

#saveBot {
    border-left-width: 0pt;
}

#saveBot {
    border-bottom-width: 0pt;
}

#saveBot {
    border-right-width: 0pt;
}

#saveBot {
    border-top-width: 0pt;
}

#saveBot {
    border-left-style: none;
}

#saveBot {
    border-bottom-style: none;
}

#saveBot {
    border-right-style: none;
}

#saveBot {
    border-top-style: none;
}

#saveBot {
    border-left-color: currentColor;
}

#saveBot {
    border-bottom-color: currentColor;
}

#saveBot {
    border-right-color: currentColor;
}

#saveBot {
    border-top-color: currentColor;
}

#saveBot {
    border-image: none;
}

#saveBot1,
#stopBot {
    padding-left: .125pc;
}

#saveBot1,
#stopBot {
    padding-bottom: .125pc;
}

#saveBot1,
#stopBot {
    padding-right: .125pc;
}

#saveBot1,
#stopBot {
    padding-top: .125pc;
}

#saveBot1,
#stopBot {
    width: 30%;
}

#stopBot,
#saveBot1 {
    color: white;
}

#saveBot1,
#stopBot {
    font-size: .25in;
}

#stopBot,
#saveBot1 {
    display: inline;
}

#stopBot,
#tablink:hover {
    border-left-width: 0pt;
}

#stopBot {
    border-bottom-width: 0pt;
}

#stopBot {
    border-right-width: 0pt;
}

#stopBot {
    border-top-width: 0pt;
}

#stopBot {
    border-left-style: none;
}

#stopBot {
    border-bottom-style: none;
}

#stopBot {
    border-right-style: none;
}

#stopBot {
    border-top-style: none;
}

#stopBot {
    border-left-color: currentColor;
}

#stopBot {
    border-bottom-color: currentColor;
}

#stopBot {
    border-right-color: currentColor;
}

#stopBot {
    border-top-color: currentColor;
}

#stopBot {
    border-image: none;
}

#stopBot,
#saveBot1 {
    margin-left: 0pc;
}

#saveBot1,
#stopBot {
    margin-bottom: 0pc;
}

#saveBot1,
#stopBot {
    margin-right: 0pc;
}

* html {
    min-width: hsl(360, 100%, 100%);
}

#saveBot1,
#stopBot {
    margin-top: 0pc;
}

#stopBot,
#saveBot1 {
    border-radius: 50px 3.125pc 37.5pt 3.125pc;
}

#saveBot2,
#saveBot1 {
    outline: none;
}

#saveBot1,
#saveBot2 {
    cursor: pointer;
}

#saveBot1,
#saveBot2 {
    text-align: center;
}

#saveBot1 {
    border-left-width: 0pt;
}

#saveBot1 {
    border-bottom-width: 0pt;
}

#saveBot1 {
    border-right-width: 0pt;
}

#saveBot1 {
    border-top-width: 0pt;
}

#saveBot1 {
    border-left-style: none;
}

#saveBot1 {
    border-bottom-style: none;
}

#saveBot1 {
    border-right-style: none;
}

#saveBot1 {
    border-top-style: none;
}

#saveBot1 {
    border-left-color: currentColor;
}

#saveBot1 {
    border-bottom-color: currentColor;
}

#saveBot1 {
    border-right-color: currentColor;
}

#saveBot1 {
    border-top-color: currentColor;
}

#saveBot1 {
    border-image: none;
}

#saveBot3,
#saveBot2 {
    background-color: #031229;
}

#saveBot2,
#saveBot3 {
    padding-left: .125pc;
}

#saveBot2,
#saveBot3 {
    padding-bottom: .125pc;
}

#saveBot3,
#saveBot2 {
    padding-right: .125pc;
}

#saveBot3,
#saveBot2 {
    padding-top: .125pc;
}

#saveBot3,
#saveBot2 {
    width: 30%;
}

#saveBot2,
#saveBot3 {
    color: white;
}

#saveBot2,
#saveBot3 {
    font-size: .25in;
}

#saveBot3,
#saveBot2 {
    display: inline;
}

#saveBot2 {
    border-left-width: 0pt;
}

#saveBot2 {
    border-bottom-width: 0pt;
}

#saveBot2 {
    border-right-width: 0pt;
}

#saveBot2 {
    border-top-width: 0pt;
}

#saveBot2 {
    border-left-style: none;
}

#saveBot2 {
    border-bottom-style: none;
}

#saveBot2 {
    border-right-style: none;
}

#saveBot2 {
    border-top-style: none;
}

#saveBot2 {
    border-left-color: currentColor;
}

#saveBot2 {
    border-bottom-color: currentColor;
}

#saveBot2 {
    border-right-color: currentColor;
}

#saveBot2 {
    border-top-color: currentColor;
}

#saveBot2 {
    border-image: none;
}

#saveBot2,
#saveBot3 {
    margin-left: 0pc;
}

#saveBot3,
#saveBot2 {
    margin-bottom: 0pc;
}

#saveBot2,
#saveBot3 {
    margin-right: 0pc;
}

#saveBot2,
#saveBot3 {
    margin-top: 0pc;
}

#saveBot3,
#saveBot2,
#zip_city_state,
#zip {
    border-radius: 50px 3.125pc 37.5pt 3.125pc;
}

#saveBot3 {
    outline: none;
}

#saveBot3 {
    cursor: pointer;
}

#zip,
#zip_city_state,
#city,
#saveBot3 {
    text-align: center;
}

#saveBot3 {
    border-left-width: 0pt;
}

#saveBot3,
#tablink:hover {
    border-bottom-width: 0pt;
}

#tablink:hover,
#saveBot3 {
    border-right-width: 0pt;
}

#saveBot3 {
    border-top-width: 0pt;
}

#saveBot3 {
    border-left-style: none;
}

#saveBot3 {
    border-bottom-style: none;
}

#saveBot3 {
    border-right-style: none;
}

#saveBot3 {
    border-top-style: none;
}

#saveBot3 {
    border-left-color: currentColor;
}

#saveBot3 {
    border-bottom-color: currentColor;
}

#saveBot3 {
    border-right-color: currentColor;
}

#saveBot3 {
    border-top-color: currentColor;
}

body {
    height: 30pc;
}

#saveBot3 {
    border-image: none;
}

#startBot {
    margin-left: 10px;
}

#inputBoxes {
    margin-left: .3125pc;
}

#inputBoxes {
    margin-bottom: .3125pc;
}

#inputBoxes {
    margin-right: .3125pc;
}

#inputBoxes {
    margin-top: .3125pc;
}

#zip_city_state {
    display: inline;
}

#city,
#address,
#zip,
#zip_city_state {
    height: 25px;
}

#zip_city_state {
    width: 90pt;
}

#zip_city_state {
    border-left-width: 2.25pt;
}

#zip_city_state {
    border-bottom-width: 2.25pt;
}

#zip_city_state {
    border-right-width: 2.25pt;
}

#zip_city_state {
    border-top-width: 2.25pt;
}

#zip_city_state {
    margin-left: 0pt;
}

#zip_city_state {
    margin-bottom: 0pt;
}

#zip_city_state {
    margin-right: 0pt;
}

#zip_city_state {
    margin-top: 0pt;
}

#zip {
    width: 64.5pt;
}

#zip {
    width: 7.5pc;
}

#zip {
    margin-right: 0in;
}

#name,
#tel,
#country,
#zip,
#city,
#address,
#email,
#apt {
    border-left-width: 0in;
}

#name,
#apt,
#country,
#address,
#city,
#email,
#tel,
#zip {
    border-bottom-width: 0in;
}

body {
    width: 21.875pc;
}

#city,
#zip,
#country,
#email,
#address,
#name,
#tel,
#apt {
    border-right-width: 0in;
}

#apt,
#address,
#zip,
#name,
#country,
#city,
#tel,
#email {
    border-top-width: 0in;
}

#city,
#city {
    width: 100px;
}

#city {
    margin-left: .9375pc;
}

#city {
    margin-bottom: .9375pc;
}

#city {
    margin-right: .9375pc;
}

#city {
    margin-top: .9375pc;
}

#apt,
#name,
#city,
#address,
#country,
#cardRow,
#email,
#tel {
    border-radius: .520833333in 50px 50px .520833333in;
}

#address {
    margin-right: 0pc;
}

#email,
#cardRow,
#address,
#apt,
#name,
#cardNum,
#country,
#tel {
    text-align: center;
}

#address {
    width: 176.25pt;
}

#apt {
    margin-left: 0in;
}

#apt {
    margin-bottom: 0in;
}

#apt {
    margin-right: 0in;
}

#apt {
    margin-top: 0in;
}

#apt {
    width: 37.5pt;
}

#tel,
#name,
#cardRow,
#apt,
#cardNum,
#email,
#country,
#CVV {
    height: 18.75pt;
}

#country {
    margin-left: 3.75pt;
}

#country {
    margin-top: 5px;
}

#country,
#name {
    width: 80%;
}

html {
    height: 30pc;
}

#name {
    width: 105pt;
}

#email {
    width: 80%;
}

#email {
    width: 105pt;
}

html {
    width: 21.875pc;
}

#tel {
    width: 80%;
}

#tel {
    width: 18.4375pc;
}

#cardRow {
    display: inline;
}

#cardRow {
    margin-left: 33.75pt;
}

#color,
#tablink,
#checkoutDelay,
#size,
#CVV,
#keyWord,
#cardRow,
#cardNum {
    border-left-width: 0in;
}

#size,
#color,
#cardRow,
#CVV,
#cardNum,
#tablink,
#keyWord,
#checkoutDelay {
    border-bottom-width: 0in;
}

#color,
#keyWord,
#CVV,
#checkoutDelay,
#cardNum,
#cardRow,
#size,
#tablink {
    border-right-width: 0in;
}

#cardNum,
#CVV,
#color,
#checkoutDelay,
#size,
#keyWord,
#cardRow,
#tablink {
    border-top-width: 0in;
}

#cardNum {
    width: 80%;
}

#keyWord,
#cardNum,
#checkoutDelay,
#CVV,
#color {
    border-radius: 3.125pc 50px 37.5pt 3.125pc;
}

#CVV {
    width: .520833333in;
}

#CVV,
#color,
#checkoutDelay,
#size,
#keyWord {
    text-align: center;
}

#checkoutDelay {
    width: 75px;
}

#checkoutDelay,
#size,
#keyWord,
#color {
    height: .260416667in;
}

#keyWord {
    width: 1.6875in;
}

#color {
    width: 132px;
}

#size {
    width: 103.5pt;
}

#size {
    width: .78125in;
}

#size {
    border-radius: 50px;
}

#size {
    margin-left: 1.71875in;
}

#size {
    margin-right: 60px;
}

#btnSetup,
#tablink,
#btnPayment,
#btnShipping {
    background-color: #031229;
}

#tablink {
    color: white;
}

#tablink {
    float: left;
}

#tablink {
    border-left-style: none;
}

#tablink {
    border-bottom-style: none;
}

#tablink {
    border-right-style: none;
}

#tablink {
    border-top-style: none;
}

#tablink:hover {
    border-top-width: 0px;
}

#tablink {
    border-left-color: currentColor;
}

#tablink {
    border-bottom-color: currentColor;
}

#tablink {
    border-right-color: currentColor;
}

#tablink {
    border-top-color: currentColor;
}

#tablink {
    border-image: none;
}

#tablink {
    outline: none;
}

#tablink {
    cursor: pointer;
}

#tablink {
    padding-left: 1pc;
}

#tablink {
    padding-bottom: .875pc;
}

#tablink {
    padding-right: 1pc;
}

#tablink {
    padding-top: .875pc;
}

#tablink {
    font-size: 12.75pt;
}

#tablink {
    width: 25%;
}

#tablink {
    border-radius: .15625in;
}

#tabcontent {
    color: #012;
}

#tabcontent {
    display: none;
}

#tabcontent {
    padding-left: .208333333in;
}

#tabcontent {
    padding-bottom: 6.25pc;
}

#tabcontent {
    padding-right: .208333333in;
}

#tabcontent {
    padding-top: 6.25pc;
}

#tabcontent {
    height: 100%;
}

#cardInfo,
#btnRun,
#btnShipping,
#btnSetup,
#divOther,
#btnPayment,
#category,
#tabcontent {
    border-left-width: 0pt;
}

#tabcontent,
#btnRun,
#category,
#btnShipping,
#btnPayment,
#cardInfo,
#btnSetup,
#divOther {
    border-bottom-width: 0pt;
}

#category,
#btnRun,
#btnShipping,
#btnSetup,
#cardInfo,
#divOther,
#tabcontent,
#btnPayment {
    border-right-width: 0pt;
}

#category,
#btnSetup,
#divOther,
#cardInfo,
#btnShipping,
#btnRun,
#btnPayment,
#tabcontent {
    border-top-width: 0pt;
}

#cardInfo {
    border-radius: 50px 37.5pt .520833333in 37.5pt;
}

#btnShipping {
    border-radius: 1.25pc 0px 0in 0pc;
}

#btnPayment,
#btnSetup {
    border-radius: 0px;
}

#divOther,
#btnRun {
    background-color: #031229;
}

#btnRun {
    border-radius: 0px .208333333in 0px 0in;
}

#divOther {
    display: block;
}

#category {
    background-color: white;
}

#category,
#AutofillDelayTime {
    border-radius: 3.125pc .520833333in 37.5pt 50px;
}

#category {
    height: 1.75pc;
}

#category {
    width: 1.302083333in;
}

#cardYear,
#category,
#cardMonth,
#AutofillDelayTime {
    text-align: center;
}

#category {
    margin-top: -2.1875pc;
}

#category {
    margin-left: 30;
}

#AutofillDelayTime,
#cardMonth,
#cardYear,
#btn-oauth {
    border-left-width: 0pt;
}

#AutofillDelayTime,
#cardYear,
#btn-oauth,
#cardMonth {
    border-bottom-width: 0pt;
}

#btn-oauth,
#AutofillDelayTime,
#cardMonth,
#cardYear {
    border-right-width: 0pt;
}

#cardMonth,
#btn-oauth,
#AutofillDelayTime,
#cardYear {
    border-top-width: 0pt;
}

#cardMonth,
#cardYear {
    margin-left: .083333333in;
}

#version {
    font-size: .625pc;
}

#version {
    margin-left: 1.010416667in;
}

#btn-oauth {
    width: auto;
}

#btn-oauth {
    length: auto;
}

* {
    box-sizing: border-box;
}